body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: black;
}

.home {
  color : white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 10%;
  height: 100vh;
}

.home-content {
  color : white;
  max-width: 500px;
}

.home h1 {
  color : white;
  font-size: 40px;
  margin-bottom: 10px;
}

.home h2 {
  color: white;
  margin-bottom: 20px;
}

.home p {
  color : white;
  margin-bottom: 20px;
  line-height: 1.5;
}

.buttons {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 10px 20px;
  background: gray;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  border-color: white;
  border-width: 10px;
}


.home-image img {
  width: 300px;
  border-radius: 10px;
}