body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(7, 89, 97);
}

.home {
  color : white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
}


.home-content {
  color : white;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.home h1 {
  color : rgba(39, 2, 2, 0.514);
  font-size: 40px;
  margin-bottom: 10px;
}

.home h2 {
  color: white;
  margin-bottom: 20px;
}

.home p {
  color : white;
  margin-bottom: 20px;
  line-height: 1.5;
}


.buttons {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 12px 24px;
  background:  rgba(31, 8, 8, 0.514);
  color: white;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 25px;
  border-color: white;
  border-width: 2px;
}

.btn:hover {
  background: rgba(255,255,255,0.2);
}

.home-image img {
  width: 400px;
  border-radius: 10px;
  border-color:rgba(39, 2, 2, 0.514);
  border-width: 5px;
  align-items: flex-end;
}

.about {
  color : white;
  justify-content: space-between;
  padding: 20px 10%;
}


.about-content {
  color : white;
  max-width: 500px;
}

.about h2 {
  color: rgba(39, 2, 2, 0.514);
  margin-bottom: 20px;
}


.about p {
  color : white;
  margin-bottom: 20px;
  line-height: 1.5;
}


.projects {
  color : rgba(39, 2, 2, 0.514);
  justify-content: space-between;
  padding: 20px 10%;
}

.project-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.project-card {  
  background: rgba(31, 8, 8, 0.514);  
  padding: 20px; 
  border: 1px solid white; 
  border-radius: 10px; 
  border-width:2px; 
  width: 250px;  
  transition: 0.3s;
}

.project-card h3 {  
  margin-bottom: 10px;
  color : rgb(239, 235, 235);
}

.project-card p {  
  margin-bottom: 10px;
  color: rgb(239, 235, 235);
}

.project-card a {  
  color: rgb(104, 148, 169);  
  text-decoration: none;
  flex: 1 1 300px;
  max-width: 400px;
}

.project-card:hover {
  transform: translateY(-5px);
  background: rgba(255,255,255,0.2);
}

@media (max-width: 768px) {
  .home {
    flex-direction: column;
    text-align: center;
  }

  .home-image img {
    width: 250px;
    margin-top: 20px;
  }

  .buttons {
    margin-left: 0;
    justify-content: center;
  }

  .project-list {
    justify-content: center;
  }
}

.connect {
  color : rgba(39, 2, 2, 0.514);
  padding: 20px 10%;
  text-align: left;  
}

.links {
  display: flex;
  gap: 15px;
  justify-content: flex-start;
}

.links a {
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  transition: 0.3s;
  background: rgba(31, 8, 8, 0.514)
}

.links a:hover {
  background: white;
  color: rgb(7, 89, 97);
}

.container {
  max-width: 900px;
  margin-left: 0;
}

.connect p{
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;  
  max-width: 400px;
} 

.form input, .form textarea, .form button {
  background-color:rgba(31, 8, 8, 0.514);
  border: 1px solid white;  
  border-radius: 5px;
  padding: 10px;
  color: white;
}

.form input::placeholder,
.form textarea::placeholder {
  color: white;
}

.form button:hover {
  background: rgb(7, 89, 97);  
}